<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/baseHead', {basePath, title: 'Create Table' , js: ['createTable.js']}); %>
  </head>
  <body>
    <div class="page_body">
      <div class="sidebar">
        <h1
          style="text-align: center; color: white"
          class="form-label fs-4 text"
        >
          SQLite GUI
        </h1>
        <div
          style="
            height: 10vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <a href="<%= basePath %>/home" class="btn btn-primary">Go back to homepage</a>
        </div>
      </div>
      <div class="right_side">
        <div class="main_body">
          <div
            style="width: 40vw; position: absolute; right: 10vh; display: none"
            class="alert alert-warning"
            role="alert"
            id="date_alert"
          >
            IMPORTANT! Since SQLite 3 does not have a native type for date/time
            storage, the type DATE is used to set the default value of a
            DATETIME column to the current timestamp whenever a new row is
            inserted. In order to insert a specific date chose type TEXT.
          </div>
          <div class="main_body_header">
            <h1 class="body_title">Create new table :</h1>
          </div>
          <label class="form-label">Name of the table :</label><br />
          <input id="table-name" class="form-control" />
          <br />

          <div class="create_box_container">
            <div class="create_box">
              <div class="create_box_top">
                <label class="form-label">Name</label><br />
              </div>
              <div class="create_box_bottom">
                <input id="input_form_name" class="form-control" />
              </div>
            </div>
            <div class="create_box">
              <div class="create_box_top">
                <label class="form-label">Type</label><br />
              </div>
              <div class="create_box_bottom">
                <select id="input-type" class="insert_btn">
                  <option value="TEXT">TEXT</option>
                  <option value="INTEGER">INTEGER</option>
                  <option value="REAL">REAL</option>
                  <option value="DATE">DATE</option>
                </select>
              </div>
            </div>
            <div class="create_box" id="pk-input-div">
              <div class="create_box_top">
                <label class="form-label">Primary Key</label><br />
              </div>
              <div class="create_box_bottom">
                <select id="input-pk" class="insert_btn">
                  <option value="">No</option>
                  <option value="PRIMARY KEY">Yes</option>
                </select>
              </div>
            </div>
            <div class="create_box" id="fk-input-div">
              <div class="create_box_top">
                <label class="form-label">Foreign Key</label><br />
              </div>
              <div class="create_box_bottom">
                <select id="input-fk" class="insert_btn">
                  <option value="no">No</option>
                  <option value="yes">Yes</option>
                </select>
              </div>
            </div>
            <div style="display: none" class="create_box" id="table-input-div">
              <div class="create_box_top">
                <label class="form-label">Table</label><br />
              </div>
              <div class="create_box_bottom">
                <select id="input-table" class="insert_btn"></select>
              </div>
            </div>
            <div style="display: none" class="create_box" id="Columns">
              <div class="create_box_top">
                <label class="form-label">Columns</label><br />
              </div>
              <div class="create_box_bottom">
                <select id="column-table" class="insert_btn"></select>
              </div>
            </div>
            <div class="create_box" id="default-input-div">
              <div class="create_box_top">
                <label class="form-label">Default Value</label><br />
              </div>
              <div class="create_box_bottom">
                <input id="default-input" class="form-control" />
              </div>
            </div>
          </div>
          <br />
          <button id="insert_btn" class="insert_btn">Add column</button>
          <div class="table_component" role="region" tabindex="0">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Column</th>
                  <th scope="col">Data Type</th>
                  <th scope="col">Primary key</th>
                  <th scope="col">Default value</th>
                  <th scope="col">Foreign key</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
          <button id="create_table_btn" class="insert_btn">Create Table</button>
          <button id="query_table_btn" class="insert_btn">Get query</button>
          <div style="width: 100%" id="textare_container"></div>
        </div>
      </div>
    </div>
  </body>
</html>
