<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/baseHead', {basePath, title: 'Edit' , js: ['edit.js']}); %>
  </head>
  <body>
    <div class="page_body">
      <div class="sidebar">
        <h1
          style="text-align: center; color: white"
          class="form-label fs-4 text"
        >
          SQLite GUI
        </h1>
        <div
          style="
            height: 10vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <a href="<%= basePath %>/home" class="btn btn-primary">Go back to homepage</a>
        </div>
      </div>
      <div class="right_side">
        <div class="main_body">
          <div class="main_body_header">
            <h1 class="body_title">Edit the row :</h1>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
