<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/main.css.map" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="/javascripts/insert.js"></script>

    <title>Document</title>
  </head>
  <body>
    <div class="page_body">
      <div class="sidebar">
        <h1
          style="text-align: center; color: white"
          class="form-label fs-4 text"
        >
          SQLite GUI
        </h1>
        <div
          style="
            height: 10vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <a href="/home" class="btn btn-primary">Go back to homepage</a>
        </div>
      </div>
      <div class="right_side">
        <div class="main_body">
          <div class="main_body_header">
            <h1 class="body_title">Insert new row :</h1>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
