.page_body {
  display: flex;
  height: fit-content;
}

.sidebar {
  height: 100vh;
  width: 20vw;
  min-width: 40vh;
  padding: 2vh;
  background-color: #35374a;
  position: fixed;
  overflow: auto;
}

.sidebar_title {
  font-size: 4vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.sidebar_table_div,
.sidebar_table_div_end {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 1vh;
}

.sidebar_table_div_btn {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 1vh;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.create_btn {
  width: 90%;
  height: 5vh;
  background-color: #4040e8;
  border: none;
  border-radius: 1vh;
  color: white;
}

.create_btn:hover {
  background-color: #2929ea;
  cursor: pointer;
}

.sidebar_table_div:hover {
  background-color: #252733;
  border-radius: 1vh;
}

.sidebar_table_div > h1 {
  font-size: 3vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  padding-top: 1vh;
}

.right_side {
  height: 100vh;
  width: 100%;
  margin-left: 41vh;
}

.header {
  height: 5vh;
  width: 100%;
}

.main_body {
  min-height: 100vh;
  width: 80vw;
  padding: 5vh;
  background-color: #e9e9e9;
}

.table_container {
  display: flex;
  width: 100%;
  overflow-x: auto;
  position: relative;
}

.table_component {
  flex-grow: 1;
  overflow-x: auto;
}

.fixed-table {
  flex-shrink: 0;
  background-color: white;
  position: sticky;
  right: 0;
  height: 5vh;
}

.action-icon {
  cursor: pointer;
}

.table {
  white-space: nowrap;
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.main_body_header {
  height: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.insert_btn {
  padding: 0 2vh;
  height: 5vh;
  background-color: #79bfb3;
  border: none;
  border-radius: 1vh;
  color: white;
  margin: 1vh;
}

.insert_btn:hover {
  background-color: #549f92;
  cursor: pointer;
}

.delete_btn {
  width: 15vh;
  height: 5vh;
  background-color: #ff0000;
  border: none;
  border-radius: 1vh;
  color: white;
  margin: 1vh;
}

.delete_btn:hover {
  background-color: #ca0404;
  cursor: pointer;
}

.body_title {
  font-size: 4vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: black;
}

.input_label {
  font-size: 3vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: black;
}

.create_box_container {
  display: flex;
}

.create_box {
  margin: 2vh;
}

.create_box_top,
.create_box_bottom {
  display: flex;
  align-items: center;
  padding-left: 1vh;
}

.create_box_top {
  height: 2vh;
  min-width: 10vh;
}

.create_box_bottom {
  min-height: 8vh;
  min-width: 10vh;
}

.input_box {
  font-size: 2.5vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: black;
}

.check_box {
  transform: scale(1.3);
}

.checkbox_label {
  font-size: 2.8vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: black;
}

.input_form,
.input_form_name {
  height: 4vh;
  border-radius: 1vh;
  border: none;
  margin: 1vh 0;
  padding: 1vh;
}

.input_form {
  width: 80%;
}

.input_form_name {
  width: 30vh;
}
