<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="/javascripts/createTable.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="page_body">
      <div class="sidebar">
        <div class=""></div>
        <a style="text-decoration: none" href="/"
          ><h1 class="sidebar_title">Home</h1></a
        >
      </div>
      <div class="right_side">
        <div class="main_body">
          <div class="main_body_header">
            <h1 class="body_title">Create new table :</h1>
          </div>
          <label class="input_label">Name of the table :</label><br />
          <input class="input_form" />
          <br />
          <button id="insert_btn" class="insert_btn">Add column</button>
          <input placeholder="name of the column" class="input_form_name" />
          <select id="input-type" class="insert_btn">
            <option value="TEXT">TEXT</option>
            <option value="INTEGER">INTEGER</option>
            <option value="REAL">REAL</option>
          </select>
          <div class="table_component" role="region" tabindex="0">
            <table>
              <thead>
                <tr>
                  <th>Column</th>
                  <th>Data Type</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Name</td>
                  <td>TEXT</td>
                </tr>
              </tbody>
            </table>
          </div>
          <button id="create_table_btn" class="insert_btn">Create Table</button>
        </div>
      </div>
    </div>
  </body>
</html>
