<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/main.css.map" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="/javascripts/createTable.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="page_body">
      <div class="sidebar">
        <div
          style="
            height: 10vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <a href="/" class="btn btn-primary">Go back to homepage</a>
        </div>
      </div>
      <div class="right_side">
        <div class="main_body">
          <div class="main_body_header">
            <h1 class="body_title">Create new table :</h1>
          </div>
          <label class="form-label">Name of the table :</label><br />
          <input id="table-name" class="form-control" />
          <br />

          <div class="create_box_container">
            <div class="create_box">
              <div class="create_box_top">
                <label class="form-label">Name</label><br />
              </div>
              <div class="create_box_bottom">
                <input id="input_form_name" class="form-control" />
              </div>
            </div>
            <div class="create_box">
              <div class="create_box_top">
                <label class="form-label">Type</label><br />
              </div>
              <div class="create_box_bottom">
                <select id="input-type" class="insert_btn">
                  <option value="TEXT">TEXT</option>
                  <option value="INTEGER">INTEGER</option>
                  <option value="REAL">REAL</option>
                </select>
              </div>
            </div>
            <div class="create_box">
              <div class="create_box_top">
                <label class="form-label">Primary Key</label><br />
              </div>
              <div class="create_box_bottom">
                <select id="input-pk" class="insert_btn">
                  <option value="">No</option>
                  <option value="PRIMARY KEY AUTOINCREMENT">Yes</option>
                </select>
              </div>
            </div>
            <div class="create_box">
              <div class="create_box_top">
                <label class="form-label">Default Value</label><br />
              </div>
              <div class="create_box_bottom">
                <input id="default-input" class="form-control" />
              </div>
            </div>
          </div>
          <br />
          <button id="insert_btn" class="insert_btn">Add column</button>
          <div class="table_component" role="region" tabindex="0">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Column</th>
                  <th scope="col">Data Type</th>
                  <th scope="col">Primary key</th>
                  <th scope="col">Default value</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
          <button id="create_table_btn" class="insert_btn">Create Table</button>
        </div>
      </div>
    </div>
  </body>
</html>
