<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="/javascripts/home.js"></script>

    <title>Document</title>
  </head>
  <body>
    <div class="page_body">
      <div class="sidebar">
        <div class=""></div>
        <h1 class="sidebar_title">Tables</h1>
        <a href="/createtable">
          <div class="sidebar_table_div_btn">
            <button class="create_btn">Create</button>
          </div>
        </a>
      </div>

      <div class="right_side">
        <div class="main_body">
          <h1 class="body_title">Select Table to View it</h1>
        </div>
      </div>
    </div>
  </body>
</html>
