<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/stylesheets/output.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/javascripts/insert.js"></script>
    <title>Insert record</title>
  </head>
  <body>
    <div class="header h-[20vh] w-full">
      <div class="h-[10vh] w-full"></div>
      <div class="h-[10vh] w-full flex pl-[10vh]">
        <a href="/"
          ><h1 class="text-white text-[2.5vh] font-semibold m-4">Home</h1></a
        >
        <h1 class="text-white text-[2.5vh] font-semibold m-4">Custom Query</h1>
      </div>
    </div>
    <div class="min-h-[80vh] w-full bg-[#2f2f2f] p-[10vh]">
      <div class="min-h-min w-full p-[2vh]">
        <h1 class="text-white text-[4vh] mb-[5vh]">Insert a new record</h1>
        <div id="table-data"></div>
      </div>
    </div>
  </body>
</html>
